body{
    margin: 0;
    padding: 0;
    font-family: 'popines' sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 140px;
}
.top-header{
    width: 100%; 
    height:auto;
    font-size: 18px;
    background-color: #F5FBFF;
    padding: 20px 0;
    color: #888;
    border-bottom: 1px solid #eee;
}
.containar{
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
}
.sosial-link a{
    padding-right: 20px;
    
}
.sosial-link a .fa-brands{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}
.sosial-link a .fa-linkedin:hover{
    color: #0a66c2;
}
.sosial-link a .fa-facebook:hover{
   color:#1877F2 ; 
}
.sosial-link a .fa-google-plus-g:hover{
   color: #4285F4;
}
.contract-info span{
    padding-left: 60px;
}
.contract-info span .fa-solid, .fa-regular{
    padding: 0 7px;
    font-size: 16px;
    color: #1877F2;
}
.main-header{
    width: 100%;
    display: flex;
    height: 60px;
    background-color: #FFFFFF;
    height: 50px;
    margin-top: 20px;
}
.main-nav {
    background-color: #FFFFFF;
    padding: 20px 0;
    
}
.checkbtn{
    display: none;
    font-size: 25px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 40px;
    margin-right: 0px;
    align-items: center;
   
}
#check{
    display:none ;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo h1 {
    font-size: 28px;
    color: #222;
    margin-left: 10px;
    text-align: center;
}
.nav-link{
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-top: 25px;
}
.nav-link a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 23px;
    color: #555;
    font-weight: 500;
    transition: 0.3s;
}
.nav-link li a:hover {
    color: #00AEEF;
}
.action-btn {
    background-color: #00AEEF; /* ছবির নীল রঙ */
    padding: 12px 25px;
    border-radius: 5px;
    display: inline-block;
}
.action-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 20px;
}

.containar-1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.containar-1 .hero{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-30%);
    z-index: 1;
}
.containar-1 .hero h1{
    font-size: 50px;
    font-weight: 700;
    font-family: Arial , sans-serif;
    letter-spacing: 2px;
    line-height: 10px;
}
.containar-1 .hero h2{
    font-size: 50px;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    line-height: 5px;
    color:rgba(0, 0, 0, 0.5);
}
.containar-1 .hero p{
    font-size: 20px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
}
.containar-1 .hero a{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.containar-1 .hero .check_btn{
    padding: 25px 60px;
    background: #00AEEF;
    line-height: 150px;
    border-radius: 5px;
}
.containar-1 .hero .check_btn:hover{
    background-color: #F5FBFF;
    color: #00AEEF;
    outline: auto;
}

.backgroud_img img{
    top: 5%;
    position: absolute;
    height: 80%;
    width: 100%;
    margin-top: 20px;
    opacity: 1;
}
.backgroud_img img:nth-child(1){
    animation: animate1 20s infinite;
}
@keyframes animate1{
    60%{
        opacity: 1;
    }
}
.backgroud_img img:nth-child(2){
    animation: animate2 10s infinite;
}
@keyframes animate2{
    100%{
        opacity: 1;
    }
}
/* mobile responsiv */
@media screen and (max-width: 768px) {
    
    /* উপরের ছোট টপ-বার হাইড করা বা সাজানো */
    .top-header {
        width: 100%;
        height: 60px;
        padding: 0;
        display:block ;
        text-align:justify; /* মোবাইলে ইমেইল/ফোন হাইড রাখতে চাইলে */
    }
    .containar{
        display: block;
        position: relative;
    }
    .sosial-link{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        top: 10px;
        justify-content: center;
    }
    .contract-info{
        display: flex;
        align-items: center;
        position: relative;
        top: 10px;
        left: 50px;
    }
    .contract-info span {
       padding-left: 0px;
   }
   /* মেইল হেডার */ 
  
   .logo{
    display: block;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
   }
   .logo h1{
    display: block;
    position: fixed;
    top: 75px;
    left: 100px;
    z-index: 1;
   }

    .checkbtn{
    width: 85%;
    display:flex;
    background: #222;
    color: #F5FBFF; 
    cursor: pointer;
    position:fixed ;
    justify-content: flex-end;
    margin: 0 auto;
      
    }
   .main-header .containar .nav-link{
    position: fixed;
    width: 60%;
    height: 70vh;
    background: rgba(33, 32, 26, 0.9);
    top: 175px;
    left: -350px;
    transition: all .1s;
    display:block;cursor: pointer;
    z-index: 1;
    
    
    }
     .main-header .containar .nav-link li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
        font-size: 18px;
        background: ;
        padding: 0; 
    }
    .main-header .containar .nav-link li a{
        color: red;
    }
    #check:checked ~ .nav-link {
        left: 0%;
    }

    .action-btn{
        display: none;
    }
    .containar-1 .hero h1{
        font-size: 30px;
        margin-left: 50px;
    }
    .containar-1 .hero h2{
        font-size: 20px;
        margin-left: 50px;
    }
    .containar-1 .hero p{
        font-size: 17px;
        margin-left: 50px;
    }
    .containar-1 .hero .check_btn{
        margin-left: 50px;
        padding: 10px 10px;
       line-height: 0;
       font-size: 15px;
    }
    

}